<ion-content>
    <section class="ion-text-center">
      <h2>Log In
      </h2>
    </section>
    <br>
  <ion-img src="assets/gold.png"></ion-img>
<form (ngSubmit)="login()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input name="emailAddress" [(ngModel)]="user.emailAddress" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button type="submit" routerLink="/application" expand="block">Login</ion-button>
</form>
</ion-content>